.game-container {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.game-sidebar {
    width: 25%;
    padding: 20px;
    background-color: #333;
    color: white;
    box-sizing: border-box;
}

h2 {
    color: #222;
}

.game-main {
    width: 75%;
    padding: 20px;
    position: relative;
    background-color: #eef2f3;
    box-sizing: border-box;
}

.city-map {
    border: 2px solid #222;
    border-radius: .2rem;
    height: 80%;
    position: relative;
    overflow: hidden;
    background: #5da760;
    & > * {
        position: absolute;
        cursor: pointer;
        width: 8rem;
        aspect-ratio: 1;
    }
}

.city-element {
    position: absolute;
    width: 50px;
    height: 50px;
}

button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
