body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(45deg, #3a7bd5, #00d2ff);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: rgb(230, 230, 230);
}

.destacado {
    color: rgb(200, 200, 255);
    text-decoration: underline;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 4rem 3rem;
    border-radius: 1.6rem;
    text-align: left;
    color: white;
    box-shadow: .2rem .4rem 2rem 0 rgba(0, 0, 0, 0.6);
}

#loginForm > div {
    margin: .6rem 0;
}

#loginForm > div > input, select {
    max-width: 80%;
    padding: .2rem .4rem;
    margin-top: .2rem;
}

label > img {
    width: 8rem;
    height: 8rem;
    margin: .3rem;
    border-radius: 1rem;
    transition: .125s;
    cursor: pointer;
}

label > img:hover {
    transform: scale(105%);
}

/* chatgpt ajuda muito nessas linhas estranhas de seletores css */
input[type="radio"]:checked + label img {
    border: .3rem solid rgba(250, 250, 250, .8);
    margin: 0rem;
}

#seletorPersonagem {
    display: flex;
}

#seletorPersonagem > input {
    display: none;
}

.logo {
    width: 150px;
    margin-bottom: 20px;
    display: block;
    margin: 0 auto;
}

button {
    padding: 10px;
    background-color: #45a049;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    transition: .125s;
}

button:hover {
    background-color: #45a049;
    transform: scale(105%);
}

.submit-container {
    display: flex; 
    justify-content: center;
}