.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  background: rgba(250, 250, 250, .4);
  backdrop-filter: blur(5px);
  background-blend-mode: lighten;
  border: 2px solid #fff;
  padding: 4rem 3rem;
  border-radius: 1.6rem;
  text-align: left;
  box-shadow: .2rem .3rem 4rem 0 rgba(100, 100, 100, 0.3);
  font-weight: 500;
  color: #222;
}

#loginForm > div {
  margin: .6rem 0;
}

#loginForm > div > input, select {
  max-width: 80%;
  padding: .2rem .4rem;
  margin-top: .2rem;
}

label > img {
  width: 8rem;
  height: 8rem;
  margin: .3rem;
  border-radius: 1rem;
  transition: .125s;
  cursor: pointer;
}

label > img:hover {
  transform: scale(105%);
}

input {
  border-radius: .2rem;
  border: 2px solid #fff;
}

/* chatgpt ajuda muito nessas linhas estranhas de seletores css */
input[type="radio"]:checked + label img {
  border: .2rem solid #55f;
  margin: 0rem;
}

#seletorPersonagem {
  display: flex;
}

#seletorPersonagem > input {
  display: none;
}

.submit-container {
  display: flex; 
  justify-content: center;
}